extends ../layout/main-layout.pug
block content
    main.container
        h1.text-center.display-3 #{pagetitle}
        form(action="/admin/add", method="post")
            .form-group
                label(for="title") Title
                input.form-control(type="text",name="title",placeholder="enter title")
                label(for="image") Image URL
                input.form-control(type="text",name="imageurl",placeholder="enter imageurl")
                label(for="desc") Description
                textarea.form-control(type="text",name="desc",placeholder="enter description")
                label(for="price") Price
                input.form-control(type="number",step="0.01",name="price",placeholder="enter price")
                button.btn.btn-dark(type="submit") Add Product 
