nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand.float-left(href="/") Shopiee
    button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent" ,aria-expanded="false" ,aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarSupportedContent
        ul.nav.navbar-nav.mr-auto
            li.nav-item
                a.nav-link.pr-3(href="/admin/add",class=(path === '/admin/add' ? 'active' : 'none')) Add Product
            li.nav-item
                a.nav-link.pr-3(href="/",class=(path === '/' ? 'active' : 'none')) Products     
            li.nav-item
                a.nav-link.pr-3(href="/cart",class=(path === '/cart' ? 'active' : 'none')) Cart  
            li.nav-item
                a.nav-link.pr-3(href="/admin/pro",class=(path === '/admin/product' ? 'active' : 'none')) Admin Products         
        
